# Port untuk server backend lokal
PORT=3000

# String koneksi MongoDB (Opsional)
# Isikan di Dashboard Environment Variables Vercel saat dideploy ke Production
MONGODB_URI=mongodb+srv://username:password@cluster.xxxx.mongodb.net/wedding_db?retryWrites=true&w=majority
